.previews {
    background-color: none !important;
    border: lem solid green;
}

.backgroundads {
    animation-name: adschange;
    animation-duration: 6s;
    width: 309px;
    height: 479px;
    animation-iteration-count: infinite;
}

.backgroundads1 {
    animation-name: adschange1;
    animation-duration: 6s;
    width: 309px;
    height: 479px;
    animation-iteration-count: infinite;
}

.companyinfo {
    background-image: url("background/lake.jpg");
    color: white;
}

.faq {
    background-image: url("background/greysand.jpg");
    color: white;
}

.hook {
    background-color: purple;
    border: 3px solid yellow;

    animation-name: hookanimate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 300px;

}

.creditcard {
    background-color: yellow;
    border: 15px solid black;

    animation-name: credit;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.accountintro {
    background-image: url("woodbar/redwoodnavbar.jpg");
    color: white;
    border: none !important;
    display: grid;
    width: 400px;
}

.companyinfobox {
    background-image: url("woodbar/redwoodnavbar.jpg");
    border: solid black;
    display: grid;
    width: 600px;
}

.faqinfobox {
    background-image: url("background/grasssand.jpg");
    width: 500;
}

body.storefront {
    background-image: url("background/swamp.jpg");
}

.products {
    background-image: url("woodbar/redwoodnavbar.jpg");
    color: white;
}

.addCart {
    background-image: url("products/productpartofpage/addtocart.jpg");
    width: 125px;
    height: 42px;
}

body.account {
    background-image: url("background/poolofwater.jpg");
}

body.viewcredit {
    background-image: url("background/grasssand.jpg")
}

.login {
    background-image: url("background/grasssand.jpg");
    color: white;
}

body.login-help {
    background-image: url("background/greysand.jpg");
    color: white;
}

.redwoodbg {
    background-image: url("woodbar/redwoodnavbar.jpg")
}



.wood {
    opacity: 1;
    display: block;
    width: auto;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.redwood {
    opacity: 1;
    display: block;
    width: auto;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.accountredwood {
    opacity: .7;
    transition: .5s ease;
    backface-visibility: hidden;
}

.accountredwood {
    opacity: .7;
    transition: .5s ease;
    backface-visibility: hidden;
}

.accountbutton {
    opacity: .7;
    transition: .5s ease;
    backface-visibility: hidden;
}

.productvisible {
    opacity: .7;
    transition: .5s ease;
    backface-visibility: hidden;
}

.wood:hover {
    opacity: .8;
    transform: scale(1.5);
}

.redwood:hover {
    opacity: .6;

}

.accountredwood:hover {
    opacity: 1;
}

.accountbutton:hover {
    opacity: 1;
}

.productvisible:hover {
    opacity: 1;
}

/*These keyframes create animation without using javascript
*/
@keyframes credit {
    from {
        background-color: rgb(255, 255, 181);
    }

    to {
        background-color: rgb(252, 252, 0);
    }

    to {
        background-color: rgb(252, 252, 0);
    }

    to {
        background-color: rgb(255, 255, 181);
    }

}

@keyframes hookanimate {
    from {
        background-color: rgb(235, 25, 235)
    }

    to {
        background-color: yellow
    }
}

@keyframes adschange {
    from {
        background-image: url("books/AmericanDream.jpg");
    }

    to {
        background-image: url("books/heroacademiavol1.jpg");
    }
}

@keyframes adschange1 {
    from {
        background-image: url("books/introtojava.jpg");
    }

    to {
        background-image: url("books/python.jpg");
    }
}

/* This adjust the height of nav bar*/