.previews {
    background-color: none !important;
    border: lem solid green;
}

.hook {
    background-color: purple;
    border: yellow;
}



.creditcard {
    background-color: yellow;
    animation-name: credit;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    border: purple;
}

@keyframes credit {
    from {
        background-color: rgb(255, 255, 181);
    }

    to {
        background-color: rgb(252, 252, 0);
    }
}


body {
    background-image: url("background/beachsand.jpg");
}